# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.txt
*.suo
*.db
*.log
*.lastbuildstate
*.tlog
*.idb
*.pdb
*targetver.h
*.ilk
*.ipch
*.sln

#Codeblocks
*.layout
*.depend

#Latex
*.aux
*.log
*.out
*.pdf
*.gz
